table {
    text-align: left;
    color: blue;
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid rebeccapurple;
    padding: 10px;
    min-height: 160px;
}

img {
    height: 100px;
    width: 100px;
}

.p-message {
    color: red;
    padding: 2%;
    border: 1px solid blue;
    width: 60%;
    margin-left: 20%;
    font-weight: bold;
}