<div class="user-auth">
  <div *ngIf="!showLogin" class="user-signup">
    <h1>User Login</h1>
    <form #userSignUp="ngForm" class="common-form" (ngSubmit)="signUp(userSignUp.value)">
      <input type="text" class="form-input" name="name" ngModel id="" placeholder="enter user name">
      <input type="text" class="form-input" name="email" ngModel id="" placeholder="enter user email">
      <input type="text" class="form-input" name="password" ngModel id="" placeholder="enter user password">
      <button class="form-button">Sign up</button>
      <p>Already Have Account ??<a (click)="openLogin()">click here</a></p>
    </form>
  </div>
  <div *ngIf="showLogin" class="user-login">
    <h1>User Login</h1>
    <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
      <input type="text" class="form-input" name="email" ngModel id="" placeholder="enter user email">
      <input type="text" class="form-input" name="password" ngModel id="" placeholder="enter user password">
      <button class="form-button">Login</button>
      <p>want to create an account ??<a (click)="openSignUp()">click here</a></p>
    </form>
  </div>
</div>